/*--------------------------------------------------------------
 Style:
----------------------------------------------------------------
1.0 Header
	1.1 Header BG
	1.2 Menu Button
	1.3 Menu Itens
	1.4 Menu Itens:hover
	1.5 Botão logout
2.0 Containers
	2.1 Default 
		2.1.1 Label 
		2.1.2 Buttons 
	2.2 Search Container 
		2.2.1 Container
		2.2.2 Label 
		2.2.3 Input 
	2.3 Cadaster Container 
		2.3.1 Container
		2.3.2 Buttons 
	2.4 Search in list 
		2.4.1 Container 
	2.5 List Container 
		2.5.1 Container
3.0 Geral - Validações
	3.1 Estilo de mensagem de erro
4.0 Mixins	
--------------------------------------------------------------*/

/*
 * 1.0 Header
 */
 	/* 1.1 Header BG */
	.header {
		width: 100%; 
		height: 50px; 
		background: #555;
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
	}
	
	/* 1.2 Maneu Button */
	.menu-button {
		display: inline-block;
		width: 34px; 
		height: 34px; 
		border-radius: 17px; 
		position: relative; top: 8px; 
		margin-left: 1em;
		z-index: 2;
	}

	.menu-button.closed {
		transition: transform 0.7s ease, background-color 1s ease;
		transform: rotateY(0deg) translateY(0);
		background-color: #58C;
		cursor: pointer;
	}

	.menu-button.active {
		transition: transform 0.7s ease, background-color 1s ease;
		transform: rotateY(180deg) translateY(22px);
		background-color: #FF3123;
		cursor: pointer;
	}

	.fa.active {
		transition: opacity 0.7s ease;
		color: #FFF;
		opacity: 1;
		
	}

	.fa.closed {
		transition: opacity 0.7s ease;
		opacity: 0;
		
	}

	/* 1.3 Menu Itens */
	.menu-list {
		position: absolute;
		top: 55px;
		left: 20px;
		width: 150px;
		background-color: #FFF;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	}

	.menu-list.active {
		transition: transform 0.7s ease;
		transform: translateX(0) rotateY(0deg);
	}

	.menu-list.closed {
		transition: transform 0.7s ease;
		transform: translateX(-170px) rotateY(-155deg);
	}

	.menu-list li {
		position: relative;
		list-style-type: none;
		padding: 10px;
		overflow: hidden;
	}

	.menu-list a {
		text-decoration: none;
		outline: 0;
	}

	.menu-list a label {
		cursor: pointer;
	}

	.menu-item-icon {
		color: #444; 
		margin-right: 1em;
	}

	/* 1.4 Menu Itens:hover */
	.menu-list li:hover {
		transition: background-color 0.5s ease;
		background-color: #BAD0DD;
	}

	.menu-list li:hover i, .menu-list li:hover label {
		color:#58C;
	}

	/* 1.5 Botão logout */
	.logoff {
		display: inline-block; 
		width: 16px; 
		height: 16px; 
		float: right; 
		position: relative; 
		right: 20px; 
		top: 17px; 
		cursor: pointer;
	}

	.logoff:hover {
		animation: shake 0.2s linear;
	}

	.ink {
		display: block;
		position: absolute;
		background: hsl(180, 40%, 80%);
		border-radius: 100%;
		transform: scale(0);
	}

	.ink.animate {
		animation: ripple 0.65s linear;
	}

/* 
 * 2.0 Containers 
 */
	/* 2.1 Default */
		/* 2.1.1 Label */
		.label {
			transition: width 0.5s ease;
			width: 30%;
			display: inline-block;
			text-align: right;
		}

		.elem-label {
			color: #1F0099;
			position: absolute;
			display: block;
			width: 100%;
			top: 2px;
		}

		.elem-label.hidden {
			transition: 0.2s;
			font-size: 100%;
			pointer-events: none;
			height: 46px;
			text-align: left;
			overflow: hidden;
			white-space: nowrap;
			opacity: 0;
		}

		.elem-label::after {
			transition: .8s;
			transition-timing-function:cubic-bezier(.4,0,.2,1);
			background-color: #1F0099;
			height: 2px;
			content: '';
			width: 0px;
			position: absolute;
			bottom: 19px;
			left: 45%;
		}

		.elem-label.active::after {
			transition: .8s;
			transition-timing-function:cubic-bezier(.4,0,.2,1);
			height: 2px;
			width: 100%;
			bottom: 19px;
			left: 0;
		}

		.elem-label.active {
			transition: 0.2s;
			transform: translateY(-18px);
			font-size: 80%;
			opacity: 1;
			text-align: left;
			height: 66px;
			pointer-events: none;
		}

		/* 2.1.2 Buttons */
		.button {
			background-color: #58C;
			padding: 0.5em; 
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
			color: #FFF; 
			font-family: sans-serif;
			font-variant: small-caps;
			font-size: 1.1em;
			cursor: pointer;
			position: relative;
			overflow: hidden;
		}

		.button:active {
			box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
			background-color: #6AAAFF;
			outline: none;
		}

		.button:hover {
			background-color: #6AAAFF;
		}

	/* 2.2 Search Container */
		/* 2.2.1 Container*/
		.search-div {
			position: relative;
			top: 75px;
			margin-bottom: 1em;
			padding: 1em 0.5em;
			width:350px; 
			background-color: #ADD; 
			border-radius: 5px;
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
		}

		.parent {
			width: 750px;
			margin: 0 auto;
		}
		/* 2.2.2 Label */
		.search-label {
			width: 20%;
			transition: width 0.5s ease;
		}
		/* 2.2.3 Input */
		.search-key {
			display: inline-block;
			text-align: left;
			margin-right: 2em;
		}

		#idKey {
			width: 10%;
		}

		#nameKey {
			width: 40%;
		}

		#nameKey, #nameSearch {
			position:relative;
			top: 7px;
		}

		.gender-select {
			width: 63.5%;
		}

	/* 2.3 Cadaster Container */
		/* 2.3.1 Container*/
		.insert-div {
			position: relative;
			top: 75px;
			padding: 2em 0.5em;
			width:350px; 
			background-color: #ADD; 
			border-radius: 5px;
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
		}

		.textarea {
			position: relative;
		}

		.button-div {
			text-align: right;
			margin-right: 0.75em;
			padding-bottom: 0.5em
		}

		.textinput {
			margin: 1.5em auto;
			width: 200px;
		}

		/* 2.3.2 Buttons */
		.insert {
			margin-top: 1em;
		}
		
	/* 2.4 Search in list */
		/* 2.4.1 Container */
		.panel {
			display: inline-block;
			vertical-align: top;
			width: 350px;
		}

	/* 2.5 List Container */
		/* 2.5.1 Container */
		.all {
			text-align: center;
		}

		.user-list {
		}

		.user-list li:first-of-type {
			margin-top: 0.75em;
		}

		/* 2.5.2 Label */
		.list-title {
			text-decoration: underline;
		}

		.user-list li {
			margin-top: 0.5em;
			list-style-type: none;
			color:#222;
			font-family: sans-serif;
		}

		.user-list a {
			text-decoration: none;
			color: #444;
		}

/*
 * 4.0 Mixins
 */
@keyframes shake {
	25% {
		transform: rotateZ(45deg);
	}
	50% {
		transform: rotateZ(0deg);
	}
	75% {
		transform: rotateZ(-45deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

/* Não encontrei esses elemnetos na pagina */
.first-element-div {
	padding-top: 0.75em;
	padding-bottom: 0.5em;
}

.middle-element-div {
	padding: 0.5em 0;
}

.last-element-div {
	padding-top: 0.5em;
	padding-bottom: 0.75em;
}

.spacer {
	display: inline-block;
	width: 5px;
}